<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <img v-bind:src="imgurl" alt="">
        <img :src="imgurl" alt="">
        <ul v-for="item in listnum">
            <li>{{item}}</li>
        </ul>
        <ul v-for="(item,x) in listnum" :key="x">
            <li>{{item}}</li>
        </ul>
   </div>
    <script>
     let vm=new Vue({
         el:"#app",
         data:{
             imgurl:'11.jpg',
             listnum:["床前明月光，","疑是地上霜","举头望明月","低头思故乡"],
         },
         methods:{
            btn(){
                alert("111");
            },
            btnone(){
                alert("能不能出来")
                
            }
         }
     })
    </script>
</body>
</html>